{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <h1>Supper SatrDay</h1>
    <img src="{% static 'images/1.png' %}" alt="">
    <!-- <nav>
        <ul style="display: flex; justify-content: space-around;">
            <li ><a href="/app1/home/">Home</a></li>
            <li><a href="/app1/about">About</a></li>
            <li><a href="/app1/course">Coures</a></li>
            <a href="/app1/course"><button>Coures</button></a>
        </ul>
    </nav> -->
</body>
</html>