{% extends "base.html" %} 
{% load static %} 
<!DOCTYPE html> 
15          PRITU PATEL 
<html lang="en"> 
<head> 
    <meta charset="UTF-8"> 
    <meta name="viewport" content="width=device-width, 
initial-scale=1.0"> 
    <title>Update Student</title> 
    {% block extra_css %} 
    <link rel="stylesheet" href="{% static 'css/student/update_student.css' %}"> 
    {% endblock %} 
</head> 
<body> 
    {% block content %} 
        <form action="" method="POST"> 
            {% csrf_token %} 
            {{form.as_p}} 
            <button type="submit">Update Student</button> 
        </form> 
    {% endblock %} 
</body> 
</html>